<template>

  <table class="table table-hover table-condensed table-borderless table-sm">
    <thead>
      <tr class="table-info">
        <td>#</td>
        <td>Name</td>
        <td>Family</td>
        <td>Phone</td>
        <td>e-mail</td>
        <td>Web site</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="contact of contacts">
        <td>${contact.id}</td>
        <td>${contact.name}</td>
        <td>${contact.family}</td>
        <td>${contact.phone}</td>
        <td>${contact.email}</td>
        <td>
          <a href="${contact.website}">

            ${contact.website}
          </a>
        </td>
        <td>
          <a class="btn btn-info" route-href="route: contactDetails; params.bind : { id: contact.id }">Details</a>
          <abt-button bs-type="warning" click.call="deleteContact(contact)">Delete</abt-button>
        </td>
      </tr>
    </tbody>
  </table>

</template>
