<template>
  <abt-navbar expand-size="lg" navbar-color-type="dark" background-color-type="dark">
    <abt-navbar-toggler></abt-navbar-toggler>
    <abt-navbar-collapser>
      <abt-navbar-nav class="mr-auto">
        <abt-navbar-link route-href="route: contacts">
          Contacts
        </abt-navbar-link>
        <abt-navbar-link route-href="route: new_contact">
          Add New Contacts
        </abt-navbar-link>
      </abt-navbar-nav>
      <form class="form-inline my-2 my-lg-0">
        <abt-navbar-nav class="mr-auto">
          <abt-navbar-link href="#/login">Login</abt-navbar-link>
        </abt-navbar-nav>
      </form>
    </abt-navbar-collapser>
  </abt-navbar>

  <div class="container mt-5">

    <slot></slot>

  </div>
</template>
